extends layout

block content 
  //- a(href='gems') gems
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (user)
    p You are currently logged in as #{user.username}
    a(href="/gems") Take me to gems
    br
    a(href="/logout") Logout